body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(180deg, #212121 0%, #292929 85%, #212121 100%);*/
    background: linear-gradient(180deg, #262626 0%, #1f1f1f 78%, #383838 79%, #2e2e2e 100%);
    overflow: hidden;
}

body.vscode-dark {
    background: linear-gradient(180deg, #262626 0%, #1f1f1f 78%, #383838 79%, #2e2e2e 100%);
}

body.vscode-light {
    background: linear-gradient(180deg, #26262610 0%, #1f1f1f10 78%, #2e2e2e42 79%, #38383872 100%);
}

.playground {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.turtle {
    position: absolute;
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: left 0.05s linear;
}

.turtle:hover {
    scale: 1.05;
}

.heart {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.5s;
}

.heart.show {
    opacity: 1;
    transform: translateY(-30px);
}