body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(180deg, #212121 0%, #292929 85%, #212121 100%);*/
    background: linear-gradient(180deg, #262626 0%, #1f1f1f 78%, #383838 79%, #2e2e2e 100%);
    overflow: hidden;
}

body.vscode-dark {
    background: linear-gradient(180deg, #262626 0%, #1f1f1f 78%, #383838 79%, #2e2e2e 100%);
}

body.vscode-light {
    background: linear-gradient(180deg, #26262610 0%, #1f1f1f10 78%, #2e2e2e42 79%, #38383872 100%);
}

.playground {
    flex: 1;
    position: relative;
    overflow: hidden;
}

#backgroundOverlay.discoOverlay {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;

    width: 150vmax;
    height: 150vmax;

    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;

    background: repeating-conic-gradient(
        red 0deg 10deg,
        orange 10deg 20deg,
        yellow 20deg 30deg,
        lime 30deg 40deg,
        cyan 40deg 50deg,
        blue 50deg 60deg,
        violet 60deg 70deg
    );

    background-position: center;
    animation: spinDisco 8s linear infinite;
    opacity: 0.1;
    transition: opacity 2s ease;

    filter: blur(20px) saturate(1.5);
}

#backgroundOverlay.discoOverlay.enter {
    opacity: 0;
}

@keyframes spinDisco {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.turtle {
    position: absolute;
    width: 80px;
    height: auto;
    cursor: pointer;
    transition: left 0.05s linear;
    z-index: 10;
}

.turtle:hover {
    scale: 1.05;
}

.turtle-hidden .turtle{
    display: none;
}

.heart {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.5s;
    z-index: 11;
}

.heart.show {
    opacity: 1;
    transform: translateY(-30px);
}

.disco-ball {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: auto;
  pointer-events: none;

  opacity: 1;
  transform: translateX(-50%);
  transition: top 0.8s ease-in, opacity 0.5s ease-in;
}

/* entering state (initial) */
.disco-ball.enter {
  top: -50%;
  opacity: 0;
}

/* exiting state */
.disco-ball.exit {
  top: -50%;
  opacity: 0;
}

.menu-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.menu {
    position: absolute;
    top: 10px;
    right: 30px;
    background: rgba(89, 89, 89, 0.8);
    padding: 0 5px;
    border-radius: 5px;
}

.menu button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    margin: 5px 0;
}

.vscode-light .menu-button {
    color: rgba(89, 89, 89, 0.8);
}